.main{
    width: 100%;
    height: 1026px;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);   
    
    align-items: center;
    align-content: center;
    display: flex;
    justify-content:space-around;
}

.BG{
    background: url("../icon/mainBG.png") no-repeat; 

    background-size: 100%;
    height: 1026px;
    width: 100%;
    background-size: cover;
}

.main__block{
    height: 600px;

    display: flex;
    justify-content:space-around;
    align-content: center;
}

.main__block_left{
    display: flex;
    flex-direction: column;
    width: 670px;
}

.main__block_left_logo{
    width: 270px;

}

.main__block_left_name{
    height: 168px;
    width: 670px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.main__block_left_line{

    margin-top: 55px;
    height: 0px;
    width: 170px;
    border-bottom: 1px solid #FFFFFF;
}

.main__block_left_text{
    margin-top: 42px;

    height: 42px;
    width: 270px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.main__block_left_button{
    height: 58px;
    width: 270px;
    margin-top: 50px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;

    color: #FFFFFF;
    border: 2px solid #FFFFFF;


}

.main__block_right{
    width: 470px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main__block_right_block_Message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 315px;
    align-items: center;
}

.main__block_right_name{
    height: 90px;
    width: 470px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    align-content: center;

    color: #333233;

}

p{
    color: #EC7979;
}

.main__block_right_button{
    display: flex;
    justify-content:center;

    align-content: center;
    align-items: center;
    height: 60px;  
    
    background-color: #EC7979;
    border-radius:0 0 10px 10px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

input::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    display: flex;
    align-items: center;
    color: #BDBDBD;
}
textarea::placeholder{
width: 569px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

color: #BDBDBD;
}
